<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDqCjVVC3Ad9BuK-z7boNvdeaSZSgjhsPE</string>
	<key>GCM_SENDER_ID</key>
	<string>587066656520</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ua.com.niceAnalyses.niceAnalyses</string>
	<key>PROJECT_ID</key>
	<string>nice-analyses-ua</string>
	<key>STORAGE_BUCKET</key>
	<string>nice-analyses-ua.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:587066656520:ios:80239a17a81fb235a30ebd</string>
</dict>
</plist>